[tool.poetry]
name = "thirdweb-mcp"
version = "0.1.5"
description = "thirdweb MCP"
authors = ["thirdweb <support@thirdweb.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{ include = "src" }]

[tool.poetry.dependencies]
python = "^3.10"
mcp = "^1.3.0"
click = "^8.1.8"
thirdweb-ai = {version = "0.1.2", extras = ["mcp"]}

[tool.poetry.group.dev.dependencies]
ruff = "^0.9.10"
pyright = "^1.1.396"

[tool.poetry.scripts]
thirdweb-mcp = "src.mcp:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
