[project]
name = "thirdweb-mcp"
version = "0.1.7"
description = "thirdweb MCP"
authors = [{ name = "thirdweb", email = "support@thirdweb.com" }]
requires-python = "~=3.10"
readme = "README.md"
license = "Apache-2.0"
dependencies = [
    "mcp>=1.3.0,<2",
    "click>=8.1.8,<9",
    "thirdweb-ai[mcp]==0.1.4",
]

[project.scripts]
thirdweb-mcp = "src.mcp:main"

[dependency-groups]
dev = [
    "ruff>=0.9.10,<0.10",
    "pyright>=1.1.396,<2",
]

[tool.hatch.build.targets.sdist]
include = ["src"]

[tool.hatch.build.targets.wheel]
include = ["src"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
